matplotlib==3.10.7
numpy==2.3.5
nvidia_ml_py==12.575.51
pandas==2.3.3
petsc4py==3.24.1
pygmsh==7.1.17
nvidia-ml-py==3.295.00
pyvista==0.45.3
scikit_learn==1.7.2
scipy==1.16.3
torch==2.7.1
torch_geometric==2.7.0
tqdm==4.67.1
vtk==9.4.2
wfdb==4.3.0
